.Toastify__toast-container {
  background: none !important;
}

.Toastify__toast {
  background: var(--bg) !important;
  box-shadow: none !important;
  border-radius: var(--bd-ra) !important;
  padding: 0 var(--pd-small) !important;
  margin-bottom: var(--mar) !important;
  min-height: 40px !important;
}

.Toastify__toast-body {
  margin: 0 !important;
  padding: 0 !important;
}

.Toastify__toast-icon {
  display: none !important;
}

.Toastify__close-button {
  width: 25px !important;
  aspect-ratio: 1 !important;
  display: grid !important;
  place-content: center !important;
  margin: auto 0 !important;
  border-radius: 50% !important;
}

.Toastify__progress-bar--wrp {
  height: 3px !important;
}
