.alert_area,
.alert_bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.pos_full_page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.alert_area {
  z-index: 1;
}

.alert_bg {
  position: absolute;
  background-color: var(--alert-bg-color);
  opacity: 0;
  animation: opaTo1 0.5s var(--spring-transition) forwards;
}

.alert_con {
  position: relative;
  background-color: var(--bg);
  border-radius: var(--bd-ra);
  width: min(var(--alert-con-max-size), calc(100% - 2 * var(--pd-small)));
  padding: var(--pd-small);
  text-decoration: balance;
  scale: 1.05;
  animation: scaleTo1 0.5s var(--spring-transition) forwards;
}

.alert_con .title {
  font-size: 1.1em;
}

.alert_con_top button {
  padding: 0;
  height: 30px;
  aspect-ratio: 1;
  background-color: transparent;
}

@keyframes opaTo1 {
  to {
    opacity: 1;
  }
}

@keyframes scaleTo1 {
  to {
    scale: 1;
  }
}

:root {
  --alert-con-max-size: 400px;
  --spring-transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
